* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', Geneva, sans-serif;
}

h1 {
    font-weight: 400;
    font-size: 2.5rem;
}

h3 {
    margin-block: 1rem;
    font-weight: 700;
}

.container {
    width: 90%;
    max-width: 700px;
    margin-inline: auto;
    text-align: center;
}

.form-wrapper {
    background-color: #e7e7e7;
    padding: 1rem;
    margin-block: 2rem;
}

fieldset{
    border: none;
}

input[type=checkbox]:disabled + label {
    color: darkgray;
}


.categories {
    padding: 1rem 1rem;
}

button{
    margin-block: 1rem;
    padding: 10px 20px;
    background-color: blueviolet;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
button:hover{
    background-color: rgb(121, 57, 181);
}
button:active{
    background-color: rgb(77, 55, 98);
}

button:disabled{
    background-color: gray;
    color: lightgray;
    cursor: default;
}

.card-joke {
    display: none;
    background-color: #fcfcfc;
    box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.25);
    padding: 20px;
    text-align: left;
}
#category-text {
    display: inline-block;
    background-color: #e7e7e7;
    color: blueviolet;
    padding: 5px 15px;
}
#setup {
    font-weight: bold;
    margin-block: 1rem;
}

.joke {
    padding-block: 3rem;

}

.info {
    padding-block: 2rem;
    background-color: #e7e7e7;
}